<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title><%= title || 'WhiteCoat - Anonymous Healthcare' %></title>
    
    <!-- Template CSS Files -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/animate.css">
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/slick-theme.css">
    <link rel="stylesheet" href="/assets/css/odometer.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
</head>
<body>
    <!-- ==========Preloader========== -->
    <div class="overlayer">
        <div class="loader">
            <div class="loader-inner"></div>
        </div>
    </div>
    <div class="scrollToTop"><i class="fas fa-angle-up"></i></div>
    <!-- ==========Preloader========== -->
    
    <!-- Header -->
    <%- include('../partials/header') %>
    
    <!-- Messages/Alerts -->
    <% if (success || error) { %>
        <div class="container mt-3">
            <% if (success) { %>
                <div class="alert alert-success alert-dismissible fade show">
                    <i class="fas fa-check-circle me-2"></i> <%= success %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            <% } %>
            <% if (error) { %>
                <div class="alert alert-danger alert-dismissible fade show">
                    <i class="fas fa-exclamation-circle me-2"></i> <%= error %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            <% } %>
        </div>
    <% } %>
    
    <!-- Main Content -->
    <main>
        <%- body %>
    </main>
    
    <!-- Footer -->
    <%- include('../partials/footer') %>
    
    <!-- Template JavaScript -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/modernizr-3.6.0.min.js"></script>
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/circularProgressBar.min.js"></script>
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <script src="/assets/js/magnific-popup.min.js"></script>
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/viewport.jquery.js"></script>
    <script src="/assets/js/odometer.min.js"></script>
    <script src="/assets/js/nice-select.js"></script>
    <script src="/assets/js/slick.min.js"></script>
    <script src="/assets/js/main.js"></script>
    
    <!-- Custom Scripts -->
    <% if (customScript) { %>
    <script>
        <%= customScript %>
    </script>
    <% } %>
</body>
</html>